@using SchoolLibrary3.Models.Entities
@model List<Book>

@{
    ViewData["Title"] = "Управление книжным фондом";
}

<div class="text-center">
    <h1 class="display-4">Список книг</h1>
    <table border="1">
        <tr>
            <th>Название книги</th>
            <th>Автор</th>
            <th>Количество страниц</th>
            <th>Издатель</th>
            <th>Действие</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.ActionLink("Изменить", "EditBook", new { id = item.Id }) / @Html.ActionLink("Списать книгу", "writeOffBook", new { id = item.Id })
            </td>
        </tr>
        }
    </table>

</div>


