@model SchoolLibrary3.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Переустановка пароля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p class="rightAligned">@Html.ActionLink("Вернуться в личный кабинет", "Private", "Home")</p>
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset id="editorFS">
        <legend>Переустановка пароля</legend>
        @Html.HiddenFor(model => model.Code)
        <label>Адрес электронной почты:</label>
        @Html.TextBoxFor(m => m.Email)
        <label>Пароль:</label>
        @Html.PasswordFor(m => m.Password)
        <label>Подтвердить пароль:</label>
        @Html.PasswordFor(m => m.ConfirmPassword)
        <input type="submit" value="Переустановить" class="ColorSubmit" />
    </fieldset>
}
