@model RoboSenseCore.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Регистрация нового Представителя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("~/Views/Home/PrivacyAgreement.cshtml", new RoboSenseCore.ViewModels.Home.PrivacyViewModel(RoboSenseCore.ViewModels.Home.AgreementType.Deputy))
<form method="post" asp-controller="Account" asp-action="Register">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @if (ViewBag.Allow)
    {
        <fieldset id="editorFS">
            <legend>Регистрация нового Представителя</legend>
            <label>Адрес электронной почты:</label>
            <input asp-for="Email" disabled />
            @Html.HiddenFor(model => model.Email)
            <label>Представляет:</label>
            @Html.DropDownListFor(model => model.Deputizing, ViewBag.Schools as SelectList, new { @disabled = "disabled" })
            @Html.HiddenFor(model => model.Deputizing)
            <input class="check-box" asp-for="FreeDeputizing" type="checkbox" disabled /> Свободное представительство
            @Html.HiddenFor(model => model.FreeDeputizing)
            <label>Телефон:</label>
            @Html.EditorFor(model => model.PhoneNumber)
            <label>Пароль:</label>
            @Html.EditorFor(model => model.Password)
            <label>Подтвердить пароль:</label>
            @Html.EditorFor(model => model.PasswordConfirm)
            @Html.HiddenFor(model => model.TheToken)
            <p>
                @Html.CheckBox("CheckAgreement", false)<span class="agreementAlert">Я подтверждаю, что ознакомился с <label class="agreementAnchor">текстом согласия на обработку персональных данных</label> и согласен передать адрес электронной почты и телефон для обработки и хранения в систему регистрации Фестиваля «RoboSense»</span>
            </p>
            <input type="submit" value="Зарегистрировать" class="ColorSubmit" disabled />
        </fieldset>
    }
</form>
<script>
    $('#CheckAgreement').change(function () {
        if ($('input:checkbox:checked').length > 0) {
            $('input[type="submit"]').prop('disabled', false);
        } else {
            $('input[type="submit"]').prop('disabled', true);
        }
    });
</script>